.nav-item{
    vertical-align: middle;
    margin: 10px; 
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
    display: inline-block;
 
  }
  .navbar{
    height: 88px;
  }
  .dropup:hover .dropup-content {
    display: block;
  }
  button{
    color: burlywood;
  }

  #temp{
    position: relative;
    color: white;
    font-size: 3rem;
    margin-right: -10rem;
    margin-left: -2rem;
  
  }
  
