<div class="container">
    <div class="d-flex justify-content-center">
        <div style=" margin-top:100px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <form class="align-middle" (ngSubmit)="login(form)" [formGroup]="form">
                <label for="form">E-Suite Login</label><br><br><br>
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="username" required
                        placeholder="Username" />
                </div>
                <div class="form-group">
                    <input s type="password" class="form-control" formControlName="password" required id="password"
                        placeholder="Password" />
                </div>
                <button type="submit" class="btn btn-dark btn-lg btn-block">Submit</button><br>
                <br>
            </form>
            <label class="error">{{error}}</label>
        </div>
    </div>
</div>