<ngx-spinner></ngx-spinner>
<div class="container my-custom-scrollbar table-wrapper-scroll-y ">
    <form action="">
        <div class="row">
            <div class="col">
                <div class="card text-white bg-dark mb-3" id="taskBox" style="max-width: 75rem;">
                    <label for="list"><b>My Tasks:</b></label>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">

                        <table class="table table-hover table-dark ">
                            <thead>
                                <tr>
                                    <th col>Start Date:</th>
                                    <th col>End Date:</th>
                                    <th col>Name:</th>
                                    <th col>Assigned By:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let task of tasks" (click)="displayItem(task)">
                                    <td scope="row">{{task.startDate}}</td>
                                    <td>{{task.endDate}}</td>
                                    <td>{{task.taskName}}</td>
                                    <td>{{task.assignedBy.firstName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-white bg-dark mb-5" style="max-width: 50rem; height: 307px;">
                    <label class="list" id="details"><b>Details:</b></label>
                
                    <div class="card-body">
                            <button type="button" placement="right" class="btn btn-outline-light btn-block" (click)="markComplete(task)"> Complete</button>
                        <h5 class="card-title" id="taskName"><b><u>{{taskName}}</u></b></h5>
                        <div class="row">
                            <div class="col">
                                <label id="complete">Done: {{taskCompleted | questionableBoolean}}</label>
                            </div>
                            <div id="id" class="col">
                                <label>ID: {{taskID}}</label>
                            </div>
                        </div>
                        <div id="dec" class="row justify-content-center">
                            <label>Description: </label> <br>
                            
                        </div>
                        <div class="container" id="descText">
                                <p [ngStyle]="{color: hintColor}" id="descText">{{taskDesc}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </form>
</div>