<ngx-spinner></ngx-spinner>
<div class="container">
    <div class="d-flex justify-content-center">
        <div style=" margin-top:70px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <Label class="title">Leave Request</Label>
            <div class="">
                <form class="text-center border rounded border-dark p-4" (ngSubmit)="onSelect(requestForm)"
                    [formGroup]="requestForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="label" for="start">Start Date:</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="startDate"
                                    formControlName="startDate" ngbDatepicker #d1="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-lg calendar" (click)="d1.toggle()"
                                        type="button"></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="label" for="end">End Date:</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="endDate"
                                    formControlName="endDate" ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-lg calendar" (click)="d.toggle()"
                                        type="button"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <fieldset class="form-group col-md-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="label type" for="type">Leave Type:</label>
                                    <div class="form-check">
                                        <label class="form-check-label" for="sickLeave">
                                            <input class="form-control-input" type="radio" name="type" id="sickLeave"
                                                value="sick leave" formControlName="type" >
                                            Sick Leave
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label" for="vacationLeave">
                                            <input class="form-control-input" type="radio" name="type" 
                                                id="vacationLeave" value="vacation leave" formControlName="type">
                                            Vacation Leave
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label" for="earnLeave">
                                            <input class="form-check-input" type="radio" name="type" id="earnLeave"
                                                value="earn leave" formControlName="type">
                                            Earn Leave
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label" for="holidayLeave">
                                            <input class="form-check-input" type="radio" name="type" id="holiday"
                                                value="holiday leave" formControlName="type">
                                            Holiday Leave
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label" for="compoOff">
                                            <input class="form-check-input" type="radio" name="type" id="earnLeave"
                                                value="compo-off leave" formControlName="type">
                                            Compo-off Leave
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group col-md-5">
                            <label class="label">Description</label>
                            <div class="form-group shadow-textarea">
                                <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="4"
                                    placeholder="Write something here..." formControlName="reason"></textarea>
                            </div>
                        </div>

                    </div>
                    <button type="submit" class="btn" [disabled]="(!requestForm.valid)">Send Request</button>
                </form>
            </div>

        </div>
    </div>
</div>