<div id="page">
    <br>
    <div class="row">
        <div class="col">
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="allDept" value="allDept" (click)="setInputTrue()"
                    name="typeSearch" [(ngModel)]="typeSearch">
                <label class="form-check-label">All Departments</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="allEmp" value="allEmp" (click)="setInputTrue()"
                    name="typeSearch" [(ngModel)]="typeSearch">
                <label class="form-check-label">All Employees</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="byEmpName" value="empLast" (click)="setInputFalse()"
                    name="typeSearch" [(ngModel)]="typeSearch">
                <label class="form-check-label">Employee Lastname</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="deleteEmp" value="deleteEmp" (click)="setInputFalse()"
                    name="typeSearch" [(ngModel)]="typeSearch">
                <label class="form-check-label">Delete Employee</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="deleteDept" value="deleteDept" (click)="setInputFalse()"
                    name="typeSearch" [(ngModel)]="typeSearch">
                <label class="form-check-label">Delete Department</label>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-light btn-block" (click)="open(content)" ntype="button">Submit
                    </button>
                </div>
                <input type="text" name="searchText" [(ngModel)]="searchText" [readonly]=searchName class="form-control"
                    id="basic-url" aria-describedby="basic-addon3">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
            <label ngbButtonLabel class="btn btn-secondary btn-outline-light">
                <input ngbButton type="radio" (click)="openTask(task)" [value]="1">Create Task
            </label>
            <label ngbButtonLabel class="btn btn-secondary btn-outline-light">
                <input ngbButton type="radio" (click)="openNewEmp(emp)" value="2"> Create Employee
            </label>
            <label ngbButtonLabel class="btn btn-secondary btn-outline-light">
                <input ngbButton type="radio" (click)="openNewDept(dpt)" [value]="3"> Create Department
            </label>
            <label ngbButtonLabel class="btn btn-secondary btn-outline-light">
                <input ngbButton type="radio" (click)="openNewTraining(training)" [value]="4"> Create Training Room
            </label>
            <label ngbButtonLabel class="btn btn-secondary btn-outline-light">
                <input ngbButton type="radio" (click)="openNewMeeting(meeting)" [value]="5"> Create Meeting Room
            </label>
        </div>

    </div>
    <br>

    <div class="row">
        <Label>Leave Request</Label>
        <div class="table-wrapper-scroll-y my-custom-scrollbar" id="leaveTable">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Leave Type</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Approved</th>
                        <th scope="col">Approve/Deny</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let request of allLeaveRequests">
                        <th scope="row">{{request.leaveId}}</th>
                        <td>{{request.startDate}}</td>
                        <td>{{request.endDate}}</td>
                        <td>{{request.leaveType}}</td>
                        <td>{{request.reason}}</td>
                        <td>{{request.statue | questionableBoolean}}</td>
                        <th scope="col">
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-outline-light btn-block" id="dropdownBasic1"
                                    ngbDropdownToggle>Choose</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button (click)="approveLeave(request.leaveId)" ngbDropdownItem>Approve</button>
                                    <button (click)="denyLeave(request.leaveId)" ngbDropdownItem>Deny</button>
                                </div>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>


    <br>
    <div class="row">
        <Label>Training Request</Label>
        <div class="table-wrapper-scroll-y my-custom-scrollbar" id="trainingTable">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Room Id</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Approved</th>
                        <th scope="col">Approve/Deny</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let request of allTrainingRequests">
                        <th scope="row">{{request.requestId}}</th>
                        <td>{{request.trainingRoomId}}</td>
                        <td>{{request.startDate}}</td>
                        <td>{{request.endDate}}</td>
                        <td>{{request.roomDesc}}</td>
                        <td>{{request.status | questionableBoolean}}</td>
                        <th scope="col">
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-outline-light btn-block" id="dropdownBasic1"
                                    ngbDropdownToggle>Choose</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button (click)="approveTraining(request.requestId)"
                                        ngbDropdownItem>Approve</button>
                                    <button (click)="denyTraining(request.requestId)" ngbDropdownItem>Deny</button>
                                </div>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="row">
        <Label>Meeting Request</Label>
        <div class="table-wrapper-scroll-y my-custom-scrollbar" id="meetingTable">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Room Id</th>
                        <th scope="col">Day</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Status</th>
                        <th scope="col">Approve/Deny</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let request of allMeetingRequests">
                        <th scope="row">{{request.requestId}}</th>
                        <td>{{request.meetingRoomId}}</td>
                        <td>{{request.day}}</td>
                        <td>{{request.startTime}}</td>
                        <td>{{request.endTime}}</td>
                        <td>{{request.meetingDesc}}</td>
                        <td>{{request.status | questionableBoolean}}</td>
                        <th scope="col">
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-outline-light btn-block" id="dropdownBasic1"
                                    ngbDropdownToggle>Choose</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button (click)="approveMeeting(request.requestId)" ngbDropdownItem>Approve</button>
                                    <button (click)="denyMeeting(request.requestId)" ngbDropdownItem>Deny</button>
                                </div>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br><br><br>
    <br><br><br>
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Search Results</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="table-wrapper-scroll-y my-custom-scrollbar" id="searchTable">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"></th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let request of searchRequest">
                            <th scope="row">{{request.empId}}</th>
                            <td>{{request.firstName}}{{request.deptId}}</td>
                            <td>{{request.lastName}}{{request.deptName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </ng-template>
    <ng-template #task let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Create Task</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <label class="label" for="start">Start Date:</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="startDate" [(ngModel)]="startDate"
                            ngbDatepicker #d1="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary btn-lg calendar" (click)="d1.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label class="label" for="end">End Date:</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="endDate" [(ngModel)]="endDate"
                            ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary btn-lg calendar" (click)="d.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="label">Task Name</label>
                    <div class="form-group shadow-textarea">
                        <input type=text placeholder="Task name" name="name" [(ngModel)]="name">
                    </div>
                </div>
                <div class="col">
                    <label class="label">Assigned To</label>
                    <div class="form-group shadow-textarea">
                            <div ngbDropdown class="d-inline-block">
                                    <button class="btn btn-secondary btn-sm btn-block" id="dropdownBasic1"
                                        ngbDropdownToggle>{{empName}}</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <a *ngFor="let request of empList" (click)="selectEmpForTask(request)"ngbDropdownItem>{{request.firstName}} {{request.lastName}}</a>
                                        
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="label">Description</label>
                    <div class="form-group shadow-textarea">
                        <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="4"
                            placeholder="Write something here..." name="reason" [(ngModel)]="reason"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
        </div>
    </ng-template>
    <ng-template #emp let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Create Employee</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                </div>
                <div class="row">
                    <div class="col">
                        <label class="label">Firstname</label>
                        <div class="form-group shadow-textarea">
                            <input type=text placeholder="Firstname" name="fname" [(ngModel)]="fname">
                        </div>
                    </div>
                    <div class="col">
                        <label class="label">Lastname</label>
                        <div class="form-group shadow-textarea">
                            <input type="text" placeholder="Lastname" name="lname" [(ngModel)]="lname">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="label">Contact</label>
                        <div class="form-group shadow-textarea">
                            <input type="text" placeholder="Phone number" name="contact" [(ngModel)]="contact">
                        </div>
                    </div>

                    <div class="col">
                        <label class="label">Department</label>
                        <div class="form-group shadow-textarea">
                            <input type="text" placeholder="Department" name="dept" [(ngModel)]="dept">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
            </div>

        </div>
    </ng-template>
    <ng-template #dpt let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Create Department</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <label class="label">Department Name </label>
                <div class="form-group shadow-textarea">
                    <input type=text placeholder="Name" name="deptName" [(ngModel)]="deptName">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
            </div>

        </div>
    </ng-template>
    <ng-template #training let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Create Training Room</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <label class="label">Room Name</label>
                <div class="form-group shadow-textarea">
                    <input type=text placeholder="Name" name="tRoomName" [(ngModel)]="tRoomName">
                </div>
            </div>
            <div class="row">
                <label class="label">Room Capacity</label>
                <div class="form-group shadow-textarea">
                    <input type=text placeholder="#" name="tCapacity" [(ngModel)]="tCapacity">
                </div>
            </div>
            <div class="row">
                <label class="label">Floor #</label>
                <div class="form-group shadow-textarea">
                    <input type=text placeholder="#" name="tFloor" [(ngModel)]="tFloor">
                </div>
            </div>
            <div class="row">
                <div ngbDropdown>
                    <button class="btn btn-secondary btn-outline-light" id="dropdownBasic1"
                        ngbDropdownToggle>Whiteboard</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button (click)="yesWhiteBoard()" ngbDropdownItem>Yes</button>
                        <button (click)="noWhiteBoard()" ngbDropdownItem>No</button>
                    </div>
                </div>
                <div ngbDropdown>
                    <button class="btn btn-secondary btn-outline-light" id="dropdownBasic1"
                        ngbDropdownToggle>Projector</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button (click)="yesProjector()" ngbDropdownItem>Yes</button>
                        <button (click)="noProjector()" ngbDropdownItem>No</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
            </div>

        </div>
    </ng-template>
    <ng-template #meeting let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Create Meeting Room</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <label class="label">Room Name</label>
                <div class="form-group shadow-textarea">
                    <input type=text placeholder="Name" name="mRoomName" [(ngModel)]="mRoomName">
                </div>
            </div>
            <div class="row">
                <label class="label">Room Capacity</label>
                <div class="form-group shadow-textarea">
                    <input type=number placeholder="#" name="mCapacity" [(ngModel)]="mCapacity">
                </div>
            </div>
            <div class="row">
                <label class="label">Floor #</label>
                <div class="form-group shadow-textarea">
                    <input type=number placeholder="#" name="mFloor" [(ngModel)]="mFloor">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
            </div>

        </div>
    </ng-template>
</div>